@font-face {
  font-family: "Nexa-Light";
  src: url("./public/fonts/nexa_light-webfont.woff2") format("woff2"),
    url("./public/fonts/nexa_light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Nexa-Bold";
  src: url("./public/fonts/nexa_bold-webfont.woff2") format("woff2"),
    url("./public/fonts/nexa_bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}
:root {
  --bg-color: #fff;
  --bg-green: #0c4900;
  --bg-fondo: #f3f4f6;
  --bg-menu-bottom: #7fb733;
  --text-color: #000;
}
body {
  margin: 0;
}
* {
  font-family: "Nexa-Light";
}
a {
  -webkit-tap-highlight-color: transparent;
}
.nexa_bold {
  font-family: "Nexa-Bold";
}
.text_small {
  font-size: 0.9em;
}
.bg_green {
  background: var(--bg-green);
}
.text__nowrap {
  text-wrap: nowrap;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); /* Fondo semi-transparente */
  z-index: 9998; /* Detrás del menú pero delante del contenido */
  display: none; /* Inicialmente oculto */
  transition: opacity 0.3s ease; /* Efecto de transición suave */
}
.side-menu.open + .overlay {
  display: block; /* Mostrar el overlay cuando el menú está abierto */
}
.side-menu {
  position: fixed;
  left: -270px; /* Inicialmente fuera de la vista */
  top: 0;
  bottom: 0;
  width: 270px;
  background-color: #f3f4f6;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
  transition: left 0.3s ease; /* Efecto suave de transición */
  z-index: 9999; /* Por delante del overlay */
  min-height: calc(100vh - 56px);
  overflow: scroll !important;
  /* overflow-y: hidden; */
}

.side-menu ul {
  list-style-type: none;
  padding: 0;
}

.side-menu ul li {
  padding: 10px 20px;
}

.side-menu ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

.menu-btn {
  width: 35px;
  height: 35px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}

.menu-btn span {
  display: block;
  width: 30px;
  height: 3px;
  background-color: #333;
  margin-bottom: 5px;
  transition: transform 0.3s ease; /* Efecto suave de transformación */
}

.menu-btn.open span:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.menu-btn.open span:nth-child(2) {
  opacity: 0;
}

.menu-btn.open span:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.side-menu.open {
  left: 0;
}

#nav-tab {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  height: 56px; /* Ajusta la altura según tus necesidades */
  box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.list__menu li {
  border-bottom: #003300 1px solid;
  border-top: transparent 1px solid;
}
.arrow_menu-active {
  transition: transform 0.3s ease-out;
}

.arrow_menu-active.clicked {
  transform: translateX(-20px) scale(0.9);
}

.arrow_menu-active.clicked:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  animation: ripple 0.6s ease-out;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

.container_boton {
  display: none !important;
}
.container-menu-bottom {
  display: block !important;
  margin: 0em 1em 0em 1em;
  position: absolute;
  bottom: 3.2em;
  left: -0.5em;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--bg-menu-bottom);
  border-radius: 15px;
  margin: 0 auto;
  padding-bottom: 11px;
}
.boton_central {
  position: relative;
  margin-bottom: 1em;
  width: max-content;
  padding: 0.1em 0.3em 0.3em 0.3em;
}
.boton_central-active {
  border-bottom-left-radius: 45%;
  border-bottom-right-radius: 45%;
  padding: 0.1em 0.3em 0.3em 0.3em;
  /* background-color: #00751d; */
  background: var(--bg-menu-bottom);
  z-index: 9999;
}
.cntner__img-boton {
  z-index: 99999;
  border-radius: 100%;
}
.cntner__img-boton-btn {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  border-radius: 100%;
}
.iconCentral {
  display: block !important;
  z-index: 99999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.animation__close {
  animation: giro 0.5s ease-out;
}

@keyframes giro {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: rotate(90deg);
    opacity: 1;
  }
}

.display_block {
  display: block !important;
}
.display_none {
  display: none !important;
}
.bordeizq {
  border-radius: 50%;
  top: -23px;
  left: -29px;
  width: 43px;
  height: 40px;
  background: transparent;
  transform: rotate(210deg);
  box-shadow: inset 5px -17px 0px 0px var(--bg-menu-bottom);
  position: absolute;
  z-index: 2;
}
.bordeder {
  border-radius: 50%;
  top: -23px;
  right: -29px;
  width: 43px;
  height: 40px;
  background: transparent;
  transform: rotate(120deg);
  box-shadow: inset 5px -17px 0px 0px var(--bg-menu-bottom);
  position: absolute;
  z-index: 2;
}
.cntner_item-central {
  border-radius: 20px;
  padding: 0.5em;
}
.cntner_item-central li {
  width: calc(100vw / 4 - 0.7em);
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  background-color: #f3f4f6;
  border: 1px solid #ccc;
  border-bottom: 2px solid #577858;
  overflow: hidden;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.dropdown-menu.showServicio {
  display: block;
}
.dropdown-menu.showPerfil {
  display: block;
}
.dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: #333;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 15px !important;
}

.dropdown-item:hover {
  background-color: #f2f2f2;
}
.marginn {
  border-bottom: none !important;
  margin-bottom: 6em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.svgStyleMenu{
  width: 6px;
  height: 10px;
}