:root {
  --light: #d8dbe0;
  --dark: #06c000;
}
.toggle-switch {
  position: relative;
  width: 35px;
  height: 18px;
}

.label {
  position: absolute;
  width: 100%;
  height: 18px;
  background-color: var(--dark);
  border-radius: 50px;
  cursor: pointer;
}

input {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50px;
  transition: 0.3s;
}

input:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 1.5px;
  left: 3px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  box-shadow: inset 5px -1px 0px 0px var(--light);
  background-color: var(--dark);
  transition: 0.3s;
}

input:checked ~ .slider::before {
  transform: translateX(14px);
  background-color: var(--dark);
  box-shadow: none;
}
